<center>
	<form method ="post" action="change_display">
		Please enter the total amount of change you have: <input type="text" name="change_input"><br>
		<input type="submit" value="Submit">
	</form>
</center>